@model AssignRoleToUser
@{
    ViewData["Title"] = "AssignRoleToUser";
}
<div class="row">
    <div class="col-md-4">

        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success">
                <strong>Success!</strong>  @TempData["Message"]
            </div>
        }

        <form asp-controller="Administration" asp-action="AssignRoleToUser" method="post">
            <h4>Assign Role to User</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                @*<label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>*@
                
                 <select asp-for="UserId"
                        class="form-control"
                        asp-items="@(new SelectList(Model.UserId,"Value", "Text"))">
                </select>
               
            </div>
            <div class="form-group">
                <label asp-for="RoleId"></label>

                <select asp-for="RoleId"
                        class="form-control"
                        asp-items="@(new SelectList(Model.ListRole,"Value", "Text"))">
                </select>
                <span asp-validation-for="@Model.RoleId" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>

</div>


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(document).ready(function () {
        // AutoComplete for Usernames
        $("#Username").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/AssignRoletoUser/GetAllUsers",
                    type: "GET",
                    dataType: "json",
                    data: { username: request.term },
                    success: function (data) {
                        response($.map(data,
                            function (item) {
                                return { label: item.Text, value: item.Value };
                            }));
                    }
                });
            },
            error: function (response) {
                alert(response.responseText);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            select: function (e, i) {
                $("#Username").val(i.item.label);
                $("#UserId").val(i.item.value);
                return false;
            },
            minLength: 1
        });
    });
</script>